@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.gray.50'); /* Tailwind's gray-50 */
  --foreground: theme('colors.gray.900'); /* Tailwind's gray-900 */
}

/* Dark mode, add if we start using
@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.gray.900'); /* Tailwind's dark gray
    --foreground: theme('colors.gray.50'); /* Tailwind's light gray
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
